<ion-content class="connection-content">
  <ion-card>
    <ion-list>
      <ion-item
        *ngFor="let event of events$ | async"
        (click)="presentEventDetail(event)"
        [color]="
          event.eventDateStatus === EventDateStatus.present ? 'medium' : ''
        "
        [class.half-opacity]="event.eventDateStatus === EventDateStatus.past"
      >
        <ion-avatar slot="start">
          <img
            alt="event-photo"
            [src]="(event.image | async) || './avatar-finn.png'"
          />
        </ion-avatar>
        <ion-label>
          <h3 class="txt-light-color">{{ event.eventName }}</h3>
          <p>{{ event.eventType }}</p>
        </ion-label>
        <div style="display: flex; flex-direction: column">
          <span
            class="ion-text-center txt-light-color"
            style="font-size: 14px; margin-bottom: 2px"
            >Date</span
          >
          <ion-badge
            [color]="
              event.eventDateStatus === EventDateStatus.past ||
              event.eventDateStatus === EventDateStatus.present
                ? 'dark'
                : 'primary'
            "
            slot="end"
            >{{ event.eventDate.format("DD.M.YY") }}</ion-badge
          >
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
