<!-- <p>
  create-event-modal works!
  {{ userId }}
  <button (click)="closeModal()">close</button>
</p> -->
<ion-header translucent>
  <ion-toolbar>
    <ion-title class="txt-light-color">Add Friend</ion-title>
    <ion-buttons slot="end">
      <ion-button class="txt-light-color" (click)="closeModal()"
        >Close</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="friendForm" (ngSubmit)="addFriend()" novalidate>
    <ion-item lines="full">
      <ion-label class="txt-light-color" position="floating"
        >Friend's Nickname</ion-label
      >
      <ion-input formControlName="userName" type="text"></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.userName.errors?.required"
    >
      Event Name is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.userName.errors?.minlength"
    >
      Event Name should be min 2 chars long.
    </span>
    <ion-item lines="full">
      <ion-label class="txt-light-color" position="floating"
        >Friend's Email</ion-label
      >
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.email.errors?.required"
    >
      Email is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.email.errors?.pattern"
    >
      Please provide valid email id.
    </span>
    <ion-item>
      <ion-label class="txt-light-color">
        Goal Interaction frequency:
      </ion-label>
    </ion-item>
    <ion-item class="ion-justify-content-around">
      <ion-row style="width: 100%" class="ion-justify-content-around">
        <ion-col style="text-align: right">
          <ion-chip
            [outline]="friendForm.controls.intFreq.value === IntFreq.Daily"
            [color]="
              friendForm.controls.intFreq.value === IntFreq.Daily
                ? 'success'
                : ''
            "
            (click)="friendForm.controls.intFreq.setValue(IntFreq.Daily)"
          >
            <ion-label>Daily</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col style="text-align: center">
          <ion-chip
            [outline]="friendForm.controls.intFreq.value === IntFreq.Weekly"
            [color]="
              friendForm.controls.intFreq.value === IntFreq.Weekly
                ? 'success'
                : ''
            "
            (click)="friendForm.controls.intFreq.setValue(IntFreq.Weekly)"
          >
            <ion-label>Weekly</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col style="text-align: left">
          <ion-chip
            [outline]="friendForm.controls.intFreq.value === IntFreq.Monthly"
            [color]="
              friendForm.controls.intFreq.value === IntFreq.Monthly
                ? 'success'
                : ''
            "
            (click)="friendForm.controls.intFreq.setValue(IntFreq.Monthly)"
          >
            <ion-label>Monthly</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-item>

    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.intFreq.errors?.required"
    >
      A desired interaction frequency is required.
    </span>
    <!-- <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input
        maxlength="10"
        formControlName="mobile"
        type="text"
        required
      ></ion-input>
    </ion-item>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.mobile.errors?.required"
    >
      Mobile number is required.
    </span>
    <span
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.mobile.errors?.pattern"
    >
      Only numerical values allowed.
    </span> -->
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block"
          >Add Friend</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
