<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="pages/activity">
        <ion-icon name="trending-up-outline"></ion-icon>
        <ion-label>Activity</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pages/dashboard">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Connections</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pages/dashboard">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
