<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="pages/activity">
        <ion-icon name="cafe-outline"></ion-icon>
        <ion-label class="txt-light-color">My Events</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pages/activity">
        <ion-icon name="beer-outline"></ion-icon>
        <ion-label class="txt-light-color">Invitations</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pages/dashboard">
        <ion-icon class="txt-light-color" name="people-outline"></ion-icon>
        <ion-label class="txt-light-color">Friends</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pages/profile">
        <ion-icon class="txt-light-color" name="stats-chart-outline"></ion-icon>
        <ion-label class="txt-light-color">Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
