.avatar-upload {
  display: flex;
  align-items: center;
  margin: 16px auto;
}
.bottom-m {
  margin-bottom: 16px;
}

.btn-container {
  margin-left: 16px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

#imagePreview {
  background-color: #fafafa;
}
.avatar-upload .avatar-preview {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
