<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="sign-in"></ion-back-button> -->
    </ion-buttons>
    <ion-title>Connections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="connections-content">
  <div class="grids">
    <div
      style="--aspect-ratio: 1/1"
      class="xc"
      *ngFor="let connection of conections$ |async"
    >
      <div (click)="goToConnection(connection.userId)">
        <span>{{connection.userName}}</span>
        <img
          *ngIf="connection.connectionState"
          [src]="'../../assets/connection-states/'+connection.connectionState+'.svg'"
          alt="connection-emogi-state"
        />
        <img
          *ngIf="connection.connectionState"
          [src]="'../../assets/health-indicators/'+connection.connectionState+'.svg'"
          alt="connection-health-indicators"
        />
        <span>IF: {{connection.intFreq}}</span>
        <span>Since: {{connection.friendSince.format('L')}}</span>
      </div>
    </div>
  </div>
  <button (click)="signOut()">Generate</button>
</ion-content>
