<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="txt-light-color">Friends</ion-title>
    <ion-buttons slot="end">
      <ion-button id="add-friend" (click)="presentAddFriendModal()">
        <ion-icon
          class="txt-light-color"
          slot="start"
          name="person-add-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="connections-content">
  <div class="grids">
    <app-friend-card
      style="border-radius: 10px"
      *ngFor="let friend of conections$ |async"
      [friend]="friend"
      [userId]="user.userId"
      (goToSingleFriend)="goToConnection($event)"
    ></app-friend-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentCreateEventModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
