<ng-container *ngIf="selectedConnection">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="txt-light-color">{{
        selectedConnection.userName
      }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="connection-content">
    <ion-card>
      <ion-item>
        <ion-label class="txt-light-color">Friendship State:</ion-label>
      </ion-item>

      <ion-item>
        <div class="status-container">
          <img
            class="emogi"
            [src]="
              '../../../assets/connection-states/' +
              this.selectedConnection.connectionStateEmogi +
              '.svg'
            "
            alt="img"
          />
          <img
            class="health-bar"
            [src]="
              '../../../assets/health-indicators/' +
              this.selectedConnection.connectionStateEmogi +
              '.svg'
            "
            alt="img"
          />
        </div>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label class="txt-light-color">
          Interaction frequency goal:
        </ion-label>
      </ion-item>
      <ion-item class="int-freq">
        <ion-row
          style="width: 100%; padding: 0px"
          class="ion-justify-content-evenly"
        >
          <ion-col style="text-align: right" size="4">
            <ion-chip
              [outline]="this.goalInteraction === IntFreq.Daily"
              [color]="this.goalInteraction === IntFreq.Daily ? 'success' : ''"
              (click)="changeIntercationFreq(IntFreq.Daily)"
            >
              <ion-label>Daily</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col style="text-align: middle" size="4">
            <ion-chip
              [outline]="this.goalInteraction === IntFreq.Weekly"
              [color]="this.goalInteraction === IntFreq.Weekly ? 'success' : ''"
              (click)="changeIntercationFreq(IntFreq.Weekly)"
            >
              <ion-label>Weekly</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col style="text-align: left" size="4">
            <ion-chip
              [outline]="this.goalInteraction === IntFreq.Monthly"
              [color]="
                this.goalInteraction === IntFreq.Monthly ? 'success' : ''
              "
              (click)="changeIntercationFreq(IntFreq.Monthly)"
            >
              <ion-label>Monthly</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label class="txt-light-color"> Events </ion-label>
        <ion-button
          class="txt-light-color"
          [fill]="'clear'"
          *ngIf="selectedConnection?.eventsAttended?.length > 3"
          (click)="showFullEventList = !showFullEventList"
          >{{ showFullEventList ? "Show Latest" : "Show All" }}</ion-button
        >
      </ion-item>
      <ion-list>
        <ion-item
          *ngFor="
            let event of showFullEventList
              ? selectedConnection.eventsAttended
              : (selectedConnection.eventsAttended | slice: 0:3)
          "
          [color]="
            event.eventDateStatus === EventDateStatus.present ? 'medium' : ''
          "
          [class.half-opacity]="event.eventDateStatus === EventDateStatus.past"
        >
          <ion-avatar alt="event-picture" slot="start">
            <img [src]="event.image | async" />
          </ion-avatar>
          <ion-label>
            <h3 class="txt-light-color">{{ event.eventName }}</h3>
            <p>{{ event.eventType }}</p>
            <container-element [ngSwitch]="event.attendanceStatus">
              <!-- the same view can be shown in more than one case -->
              <ion-badge
                *ngSwitchCase="AttendanceStatus.invited"
                color="primary"
                slot="end"
                >Invited</ion-badge
              >
              <ion-badge
                *ngSwitchCase="AttendanceStatus.confirmed"
                color="success"
                slot="end"
                >Attending</ion-badge
              >
              <ion-badge
                *ngSwitchCase="AttendanceStatus.declined"
                color="danger"
                slot="end"
                >Not Attending</ion-badge
              >
            </container-element>
          </ion-label>
          <div style="display: flex; flex-direction: column">
            <span
              class="ion-text-center txt-light-color"
              style="font-size: 14px; margin-bottom: 2px"
              >Date</span
            >
            <ion-badge
              [color]="
                event.eventDateStatus === EventDateStatus.past ||
                event.eventDateStatus === EventDateStatus.present
                  ? 'dark'
                  : 'primary'
              "
              slot="end"
              >{{ event.eventDate.format("DD.M.YY") }}</ion-badge
            >
          </div>
        </ion-item>
        <ion-item *ngIf="selectedConnection?.eventsAttended?.length < 1">
          No Events yet. Maybe you could plan something with this person.
        </ion-item>
      </ion-list>
      <ion-card-content> </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label class="txt-light-color">Activity types</ion-label>
      </ion-item>
      <ion-card-content>
        <app-polar-chart
          *ngIf="selectedConnection?.eventsAttended"
          [events]="selectedConnection.eventsAttended"
        ></app-polar-chart>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>
