<ng-container *ngIf="selectedConnection">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="txt-light-color">{{
        selectedConnection.userName
      }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="connection-content">
    <ion-card>
      <ion-item>
        <ion-label
          ><ion-label class="txt-light-color">
            Goal Interaction frequency: </ion-label
          ><ion-badge color="primary">{{
            formatGoalInteraction(goalInteraction)
          }}</ion-badge></ion-label
        >
        <ion-select
          [(ngModel)]="goalInteraction"
          (ionChange)="changeIntercationFreq()"
          interface="action-sheet"
        >
          <ion-select-option class="txt-light-color" value="1">
            Daily
          </ion-select-option>
          <ion-select-option class="txt-light-color" value="7"
            >Weekly</ion-select-option
          >
          <ion-select-option class="txt-light-color" value="30"
            >Monthly</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label class="txt-light-color">Friendship State:</ion-label>

        <div class="status-container">
          <img
            class="emogi"
            [src]="
              '../../../assets/connection-states/' +
              this.selectedConnection.connectionStateEmogi +
              '.svg'
            "
            alt="img"
          />
          <img
            class="health-bar"
            [src]="
              '../../../assets/health-indicators/' +
              this.selectedConnection.connectionStateEmogi +
              '.svg'
            "
            alt="img"
          />
        </div>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label class="txt-light-color"> Events </ion-label>
        <ion-button
          class="txt-light-color"
          [fill]="'clear'"
          *ngIf="selectedConnection?.eventsAttended?.length > 3"
          (click)="showFullEventList = !showFullEventList"
          >{{ showFullEventList ? "Show Latest" : "Show All" }}</ion-button
        >
      </ion-item>
      <ion-list>
        <ion-item
          *ngFor="
            let event of showFullEventList
              ? selectedConnection.eventsAttended
              : (selectedConnection.eventsAttended | slice: 0:3)
          "
        >
          <ion-avatar slot="start">
            <img [src]="event.image | async" />
          </ion-avatar>
          <ion-label>
            <h3 class="txt-light-color">{{ event.eventName }}</h3>
            <p>{{ event.eventType }}</p>
          </ion-label>

          <ion-badge
            [color]="event.pastEvent ? 'warning' : 'primary'"
            slot="end"
            >{{ event.eventDate.format("DD.M.YY") }}</ion-badge
          >
        </ion-item>
        <ion-item *ngIf="selectedConnection?.eventsAttended?.length < 1">
          No Events yet. Maybe you could plan something with this person.
        </ion-item>
      </ion-list>
      <ion-card-content> </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label class="txt-light-color">Activity types</ion-label>
      </ion-item>
      <ion-card-content>
        <app-polar-chart
          *ngIf="selectedConnection?.eventsAttended"
          [events]="selectedConnection.eventsAttended"
        ></app-polar-chart>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>
